@media print {
  .bd-toc {
    visibility:hidden;
    max-width:0px;
  }

  .container {
    margin: 0px 0px 0px 0px;
  }
  
  #main-content {
      max-width: 95% !important;
      margin-left: 5% !important;
      padding-top: 0;
  }

  .pagebreak { break-before: page; }


}
